*Creado por:*
    
*Isabel Maniega*

# Ejercicio

Tenemos que crear dos tablas dentro de una base de datos llamada "actividad":
* edición donde tenemos 2 columnas:
    * un ID único y que sea incrementado cada vez 1, 2, 3, etc
    * número donde vendrá en letra el número de edicción: UNO, DOS, etc
* notas donde tendremos 5 columnas:
    * ID único y que sea incrementado cada vez 1, 2, 3, etc
    * name: nombre de cada alumno (varchar)
    * edad: edad de los alumnos (int)
    * notas: notas de los alumnos (real)
    * ID edic: corresponde al id de la tabla edición.    
    
**Nota:** https://sqlite.org/lang_createtable.html

**AYUDA** Para la tabla edicción:
"INSERT INTO edicion (numero) VALUES('{0}');".format(num)

Realizaremos con ayuda de python todo este proceso:

<img src="tabla_exp.png">

Insertar los siguientes valores de la tabla edición:

<img src="tabla_edic.png">

Insertar los siguientes valores de la tabla notas:

<img src="tabla_notas.png">

Actualizar los datos de las notas de estos dos alumnos:

<img src="tabla_actualizar.png">

### Realizar:

* Debemos a continuación leer los datos.
* Buscaremos las notas que se encuentren entorno a 5-6.5
* Buscaremos los alumnos pertenecientes a la edicción DOS

**Nota:** https://www.w3schools.com/sql/sql_join.asp
* Eliminar al alumno: "Pedro López"

*Creado por:*
    
*Isabel Maniega*